.box {
    background: #ffffff;
    border: 1px solid $secondary_light;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);

    .box-header {
        padding: 10px 10px 15px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &.with-border {
            border-bottom: 1px solid #f5f5f5;
        }

        .box-title {
            padding-bottom: 3px;
            font-weight: 500;
        }

        .box-description {
            color: $gray;
            font-weight: 300;
        }
        .action {
            .btn {
                padding: .25rem .5rem;
                line-height: 1.5rem;
                border-radius: 0.2rem;
                font-size: 1rem;
            }
        }

    }

    .box-body {
        padding: 15px 10px;
    }

    &.box-success {
        padding: 0px;
        border-radius: 5px;
        border-color: #4caf50;
        background: none;

        .box-header {
            background:#4caf50;
            border-radius: 5px 5px 0px 0px;
            
            .box-title {
                color: #ffffff;
            }

            .box-description {
                color: $light;
            }
        }
    }

    &.box-info {
        padding: 0px;
        border-radius: 5px;
        border-color: #2196f3;
        background: none;

        .box-header {
            background:#2196f3;
            border-radius: 5px 5px 0px 0px;
            
            .box-title {
                color: #ffffff;
            }

            .box-description {
                color: $light;
            }
        }
    }
}