@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: $default_font;
    font-size: 14px;
    color: $text_dark;
    line-height: normal;
    background-color: $body_bg;
    background-image: url('../images/y-so-serious-white.png');
}

img {
    max-width: 100%;
}

p,
ul, 
ol {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: $dark;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
    font-weight: 500;
}

.btn {
    font-family: $default_font;
    font-weight: 400;
    font-size: 14px !important;
    text-transform: capitalize;
}

#page-wrapper {
    width: calc(100% - 250px);
    margin: 0 auto;
    border: 1px solid $secondary;
    background-color: #ffffffc9;

    @media screen and (max-width: 768px) {
        width: calc(100% - 50px);
    }
}