nav {
    .navigation {
        background: $gradient;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                flex: 1;
                text-align: center;
                a {
                    text-decoration: none;
                    display: block;
                    color: $light;
                    padding: 15px;
                    text-transform: uppercase;
                    transition: all 100ms linear;

                    &:hover {
                        background: $dark;
                        transition: all 250ms linear;
                    }
                }

                &.treeview {
                    position: relative;

                    .navigation-dropdown {
                        position: absolute;
                        top: calc(100% + 20px);
                        left: 0;
                        background: #000000e1;
                        width: 180px;
                        visibility: hidden;
                        opacity: 0;
                        transition: all 100ms ease-out;
    
                        ul {
                            display: block;
                            li {
                                text-align: left;
                                a {
                                    padding: 10px 15px;
                                    text-transform: capitalize;
    
                                    &:hover {
                                        background: $secondary;
                                    }
                                }
                                
                            }
                        }
                    }

                    &:hover {
                        .navigation-dropdown {
                            visibility: visible;
                            opacity: 1;
                            top: 100%;
                            transition: all 250ms ease-in;
                        }
                    }
                }

                
            }
        }
    }
}