.sliders {
    height: 500px;

    .slider-item {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: scroll;
        position: relative;
        z-index: 1; 
        height: 100%;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: '';
            background-color: $dark;
            z-index: -1;
            opacity: 0.35;
        }
    }
}