$primary: #6551cc;
$secondary: #8699ad;
$dark: #171717;
$text_dark: #292929;
$light: #fff;
$secondary_light: #f8f8f8;

$gray: #a9a9a9;

$body_bg: #f6f9fb;

$gradient: linear-gradient(to right, $primary, rgb(255, 0, 140));


$heading: 'Poppins', sans-serif;
$default_font: 'Inter', sans-serif;
